*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(18, 18, 32);
}
#header{
    display: flex;
    background-color: rgb(44, 43, 43);
    justify-content: space-between;
    padding: 1rem;
    margin: 5rem;
    border-radius: 1rem;
    #left{
        display: flex;
        justify-content: center;
        align-items: center;
        h4{
            color: white;
        }
        i{
            color: orangered;
            font-size: 1rem;
        }
    }
    #right{
        background-color: gray;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        i{
            font-size: 1.5rem;
            color: white;
        }
    }
}

#header-mid{
    display: flex;
    justify-content: space-between;
    margin: 5rem;
    #left{
        font-size: 1.5rem;
        color: white;
    }
    #right{
        button{
            width: 4rem;
            border: 0;
            height: 2rem;
            border-radius: 2rem;
            background-color: gray;
            color: rgb(236, 235, 235);
            font-weight: bolder;
        }
    }
}